.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .form {
    width: 400px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 5px rgba(69, 69, 69, 0.2);

    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    padding: 20px;
    border-radius: 5px;
}

.form-container .form input {
    padding: 8px 20px;
    outline: 2px solid #ddd;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.form-container .form input:focus {
    outline: 2px solid var(--text-box-color);
}

.form-container .form .btn {
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    outline: none;
}

.form-container .form .link {
    text-decoration: none;
    color: var(--primary-color);
}

.btn {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: var(--primary-color);
}
